/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Utility*/
a {
    text-decoration: none;
    color: white;
    padding: 21px;
}

/*Bottoni*/
#button-access {
    padding: 8px 13px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid white;
    background-color: white;
}

#button-download-up {
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid white;
    background-color: white;
    margin-right: 20px;
}

#button-download-down {
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    color:white;
    border: 1px solid #8EA1E2;
    background-color: #8EA1E2;
}

#button-browser {
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    border: 1px solid #23272A;
    background-color: #23272A;
}

#button-registration {
    padding: 8px 13px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: 1px solid #8EA1E2;
    background-color: #8EA1E2;
}


/*Home*/
#main-nav {
    display: flex;
    height: 575px;
    background-color: #255EE9;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
}

#link-menu {
    display: flex;
    height: 40px;
    width: 66%;
}

.logo-up {
    display: flex;
    width: 20%;
    align-items: center;
}

.link {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

#upper-bar {
    display: flex;
    list-style-type: none;
}


.login {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#splash-home {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(/img/jumbo.png);
    background-size: cover;
}

#h1-header {
    font-size: 55px;
    padding-bottom: 40px;
}

#h2-header {
    font-weight: 500;
    font-size: 23px;
}

.presentation {
    height: 80%;
    width: 50%;
    align-content: center;
    text-align: center;
    color: white

}

#accessi {
    padding-top: 20px;
}

/*Presentazione*/

/*Prima slide*/
#first-slide {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: flex-start;
}

#h1-slide1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
    color: #23272A;
}

#h3-slide1 {
    font-weight: 500;
    font-size: 18px;
    color: #23272A;
}

.channels-img {
    display: flex;
    width: fit-content;
}

.channels-info {
    width: 20%;
    height:445px;
    padding-left: 40px;
    padding-top: 50px;
}

/*Seconda slide*/

#second-slide {
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
    justify-content: center;
    align-items: flex-start;
    background-color: #F6F6F6;
}

#h1-slide2 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
    color: #23272A;
}

#h3-slide2 {
    font-weight: 500;
    font-size: 18px;
    color: #23272A;
}

.server-info {
    width: 22%;
    height:445px;
    padding-right: 40px;
    padding-top: 50px;
}

.server-img {
    display: flex;
    width: fit-content;
}

/*Terza slide*/

#third-slide {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: flex-start;
}

#h1-slide3 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
    color: #23272A;
}

#h3-slide3 {
    font-weight: 500;
    font-size: 18px;
    color: #23272A;
}

.community-img {
    display: flex;
    width: fit-content;
}

.community-info {
    width: 22%;
    height:445px;
    padding-left: 50px;
    padding-top: 40px;
}

/*Quarta slide*/

#fourth-slide {
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.streaming {
    width: 870px;
}

.streaming-info {
    align-items: center;
}

#h1-slide4 {
    font-size: 41px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
    color: #23272A;
}

#h3-slide4 {
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #23272A;
}

.streaming-nav {
    height: 100%;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}

#new-adventure {
    height: 50px;
    text-align: center;
    color: #23272A;
    background-image: url(img/stars.svg);
    background-position: center;
    margin-bottom: 20px;
}


/*Bottom info*/

/*First*/

#bottom-nav-up {
    display: flex;
    height: 550px;
    background-color: #23272A;
    justify-content: center;
    flex-wrap: wrap;
}

#bottom-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    width: 66%;
}

#socials {
    border-style: dashed;
    height: 90%;
    width: 30%;
    background-color: #F08180;
}

#info-menu {
    display: flex;
    border-style: dashed;
    height: 90%;
    width: 70%;
    background-color: #20B3AA;
}

.product {
    display: flex;
    border-style: dashed;
    border-color: white;
    width: 25%;
}

.company {
    display: flex;
    border-style: dashed;
    border-color: white;
    width: 25%;
}

.resources {
    display: flex;
    border-style: dashed;
    border-color: white;
    width: 25%;
}

.norms {
    display: flex;
    border-style: dashed;
    border-color: white;
    width: 25%;
}

/*Second*/

#bottom-bar {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

#bottom-nav-down {
    display: flex;
    height: 100px;
    background-color: #23272A;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

#link-bottom-info {
    display: flex;
    height: 65px;
    width: 66%;
}

#empty {
    display: flex;
    height: 65px;
    width: 805%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.logo-down {
    display: flex;
    border-style: dashed;
    height: 34px;
    width: 65px;
    justify-content: center;
    align-items: center;
    background-color: #FFB6BF;
}

.registration {
    display: flex;
    border-style: dashed;
    height: 34px;
    width: 80px;
    justify-content: center;
    align-items: center;
    background-color: #FFB6BF;
}